html {
	box-sizing: border-box;
	font-size: 62.5%;
}

:root {
	--box-shadow-offset-x: 0;
	--box-shadow-offset-y: 0;
	--box-shadow-blur: 0;
	--box-shadow-spread: 0;
	--box-shadow-color: #333;
	--text-shadow-offset-x: 0;
	--text-shadow-offset-y: 0;
	--text-shadow-blur: 0;
	--text-shadow-color: #333;
	--text-color: #000;
	--background-color: #FFF;
	--border-thickness: 0;
	--border-style: solid;
	--border-color: #000;
	--border-radius: 0;
}

/* Index.html */

.bodyWrap {
	width: 100%;
	min-height: 100vh;
	background-color: #cccccc;
}

.head {
	width: 100%;
	min-height: 200px;
	border-bottom: 4px solid #999999;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #cccccc;
}

.headWrap {
	background-color: white;
	display: inline-block;
	margin: 0 auto;
	margin-top: 15px;
	box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
		var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
	text-shadow: var(--text-shadow-offset-x) var(--text-shadow-offset-y)
		var(--text-shadow-blur) var(--text-shadow-color);
	color: var(--text-color);
	background-color: var(--background-color);
	border: var(--border-thickness) var(--border-style) var(--border-color);
	border-radius: var(--border-radius);
}

.headWrap h1 {
	text-align: center;
	font-size: 3.5rem;
	padding: 20px;
}

.notice {
	display: inline-block;
	margin: 0 auto;
}

.notice p {
	font-size: 2rem;
}

.controlBody {
	width: 100%;
	min-height: 100vh;
}

.controlRow {
	width: 100%;
	border-top: 4px solid #333333;
	border-bottom: 4px solid #999999;
	display: flex;
}

.controlBox {
	width: 33%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controlBox:first-child {
	border-right: 4px solid #333333;
}

.controlBox:nth-child(2) {
	border-left: 4px solid #999999;
	border-right: 4px solid #999999;
}

.controlBox:last-child {
	border-left: 4px solid #333333;
}

.controlBox p {
	font-size: 1.8rem;
	margin-top: 10px;
}

.slideWrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

.slideWrap p {
	font-size: 1.8rem;
}

#box-shadow-offset-x,
#box-shadow-offset-y,
#box-shadow-blur,
#box-shadow-spread,
#text-shadow-offset-x,
#text-shadow-offset-y,
#text-shadow-blur,
#text-shadow-spread,
#border-thickness,
#border-radius-px,
#border-radius-percent {
	width: 75%;
}

.controlBox h3 {
	font-size: 3.2rem;
	margin-top: 15px;
}

.outputBox {
	width: 70%;
	height: 95px;
	background-color: black;
	border: 1px solid white;
	border-radius: 12px;
	margin-bottom: 10px;
	margin-top: auto;
}

.outputBox p {
	color: lime;
	text-align: center;
	font-size: 1.8rem;
	font-family: "roboto";
}

select {
	font-size: 2.2rem;
	padding: 3px 20px;
	margin-bottom: 15px;
}

label {
	font-size: 1.8rem;
	margin-top: 20px;
	margin-bottom: 10px;
}